{% extends "darkbase.html" %}
{% block title %}Classroom{% endblock %}
{% block navbar %}

<div class="top">
        <a id='back' class="material-icons left-icons" href="{{ url_for('main.classroom', room_id = room_id) }}">
                arrow_back
        </a>
        <div class='right-icons'>
                <div class='default-font-size'>group</div>
                <label class="switch" >
                        <input class="switch-input" type="checkbox" id="togBtn" value="true" name="disableYXLogo" onclick="toggle(this)">
                        <span class="slider round"></span>
                </label>
                <div class='default-font-size'>all</div>
                <a id='to_mystate' href="{{ url_for('main.mystate', room_id = room_id) }}">
                        <span class="material-icons icons">person</span>
                </a>
        </div>  
</div>
{% endblock %}

{% block content %}
<section class="comments">
        <div class="comments" id="comments">
                {% for comment in comments %}
                        <div class="comment-card" >
                                <div class="username">{{ comment.username }}</div>
                                <div>{{ comment.body }}</div>
                        </div>
                {% endfor %}
        </div>
</section>
<div style="display: flex;">      
        <textarea class="underline" name="comment" id="comment" style="width: 300px;" placeholder="Enter the comment" style="color: black;" required></textarea>
        <button onclick='make_comment({{ room_id | safe}})' class="comment-btn">send</button>
</div>
<script>
        function toggle(element){
                var switchStatus = element.checked;
                console.log("check in toggle: " + switchStatus);
                var checked = switchStatus ? 0 : 1;

                var data = {
                        group: checked,
                }

                fetch(`${window.origin}/13thweek/get_comments/{{ room_id }}`, {
                        method: "POST",
                        credentials: "include",
                        body: JSON.stringify(data),
                        cache: "no-cache",
                        headers: new Headers({
                                "content-type": "application/json"
                        })
                }).then(function (response) {
                        if (response.status !== 200) {
                                console.log(`Looks like there was a problem. Status code: ${response.status}`);
                                return;
                        }
                        response.json().then(function (data) {
                                var datas = data
                                var body = ""
                                for(var i=0; i<datas.length; i++) {
                                        body += " <div class='comment-card' ><div class='username'>"+datas[i].username + "</div>" ;
                                        body += "<div>"+datas[i].body + "</div></div>";
                                }
                                document.getElementById("comments").innerHTML = body;
                        });
                }).catch(function (error) {
                        console.log("Fetch error: " + error);
                });
        }

        function make_comment(room_id) {
                var html_body = $('#comment').val();
                var checked = $('#togBtn').is(":checked") ? 0 : 1;
                console.log($('#togBtn').is(":checked"));
                console.log("in make_comment: " + checked);
                var data = {
                        body: html_body,
                        group: checked,
                        username: 1,
                }
                $('#comment').val('');
                
                fetch(`${window.origin}/13thweek/classroom/{{room_id}}/chatroom`, {
                        method: "POST",
                        credentials: "include",
                        body: JSON.stringify(data),
                        cache: "no-cache",
                        headers: new Headers({
                                "content-type": "application/json"
                        })
                }).then(function (response) {
                        if (response.status !== 200) {
                                console.log(`Looks like there was a problem. Status code: ${response.status}`);
                                return;
                        }
                        response.json().then(function (data) {
                                var datas = data;
                                console.log(data.body)
                                var body = "";
                                body += "<div class='comment-card' ><div class='username'>"+data.username + "</div>" ;
                                body += "<div>"+data.body + "</div></div>";
                                $("#comments").append(body);
                                $("#comment").val(' ');
                        });
                })
                .catch(function (error) {
                        console.log("Fetch error: " + error);
                });
        }


        setInterval(function () {
                var checked = $('#togBtn').is(":checked") ? 0 : 1;

                var data = {
                        group: checked,
                }

                fetch(`${window.origin}/13thweek/get_comments/{{ room_id }}`, {
                        method: "POST",
                        credentials: "include",
                        body: JSON.stringify(data),
                        cache: "no-cache",
                        headers: new Headers({
                                "content-type": "application/json"
                        })
                }).then(function (response) {
                        if (response.status !== 200) {
                                console.log(`Looks like there was a problem. Status code: ${response.status}`);
                                return;
                        }
                        response.json().then(function (data) {
                                var datas = data
                                var body = ""
                                for(var i=0; i<datas.length; i++) {
                                        body += " <div class='comment-card' ><div class='username'>"+datas[i].username + "</div>" ;
                                        body += "<div>"+datas[i].body + "</div></div>";
                                }
                                document.getElementById("comments").innerHTML = body;
                        });
                }).catch(function (error) {
                        console.log("Fetch error: " + error);
                });
        }, 1000);



</script>

{% endblock %}


