{% extends "darkbase.html" %}
{% block title %}Classroom{% endblock %}
{% block navbar %}

<div class="top">
        <a id='back' class="material-icons left-icons" href="{{ url_for('main.leave_room', room_id = room_id) }}">
                arrow_back
        </a>
        <div class='right-icons'>
                <a id='to_mystate' class="material-icons icons" href="{{ url_for('main.mystate', room_id = room_id) }}">
                        person
                </a>
                <a id='back' class="material-icons icons" href="{{ url_for('main.chatroom', room_id = room_id) }}">
                        question_answer
                </a>
        </div>
</div>
{% endblock %}
{% block content %}
<section class="seats"></section>
<script>
        var color = {};
        color['#FF4D00'] = 0;
        color['#FF7F00'] = 0;
        color['#FAFF00'] = 0;
        color['#21C732'] = 0;
        color['#0094FF'] = 0;
        $(document).ready(function() {
                color_gray();
                draw(JSON.parse('{{ states | tojson }}'));
        });

        function color_gray(){
                var circles = "";
                for (var i = 0; i < 40; i++) {
                        circles += "<div class='circle' id=" + i + " onClick=\'select_seat(" + i +")\'></div>"
                }

                $('.seats').html(circles);
        }

        function show_statistics()
        {
                var stac = "";
                for(var key in color){
                        stac += "<div class='circle' style=\'background: " + key + ";position:relative;font-size:30px;line-height: 2.0em;\'>&nbsp;&nbsp;&nbsp;" + color[key] + " </div>"
                }
                return stac;
        }


        function draw(data){
                var states = data;
                for(var key in color){
                        color[key] = 0;
                }
                for(var i = 0; i < states.length; i++){
                        var position = String(states[i].position);
                        $("#" + position).css("background", states[i].color);
                        $("#" + position).css("z-index", 2);
                        if(states[i].user_id === {{ user_id }}){
                                $("#" + position).html('<span  style="position: absolute; font-size: 50px; top:10%; left: 8%; z-index: 1; line-height: 105%;" >I</span>');
                        }
                        $("#" + position).html('<span  style="position: absolute; font-size: 50px; top:9%; left: 6%; z-index: 1; line-height: 105%;" >'+states[i].emoji+'</span>');
                        color[states[i].color]++;
                        
                }
                $('.seats').append(show_statistics());
        }

        
        function select_seat(position) {
                var data = {
                        position: position,
                        room_id: {{ room_id }},
                };
                console.log(data);
                console.log(JSON.stringify(data));
                fetch(`${window.origin}/13thweek/select_seat`, {
                        method: "POST",
                        credentials: "include",
                        body: JSON.stringify(data),
                        cache: "no-cache",
                        headers: new Headers({
                                "content-type": "application/json"
                        })
                }).then(function (response) {
                        if (response.status !== 200) {
                                console.log(`Looks like there was a problem. Status code: ${response.status}`);
                                return;
                        }
                        response.json().then(function (data) {
                                color_gray();
                                draw(data);
                        });
                })
                .catch(function (error) {
                        console.log("Fetch error: " + error);
                });
        }

        setInterval(function(){
                fetch(`${window.origin}/13thweek/get_states/{{ room_id }}`, {
                        method: "POST",
                        credentials: "include",
                        cache: "no-cache",
                }).then(function (response) {
                        if (response.status !== 200) {
                                console.log(`Looks like there was a problem. Status code: ${response.status}`);
                                return;
                        }
                        response.json().then(function (data) {
                                color_gray();
                                draw(data);
                        });
                })
                .catch(function (error) {
                        console.log("Fetch error: " + error);
                });}, 1000);

</script>
{% endblock %}