{% block content %}
<section class="seats"></section>

<script>
$(document).ready(function() {
        draw();
        color(JSON.parse('{{ states | tojson }}'));
});

function draw(){
        var circles = "";
        for (var i = 0; i < 40; i++) {
                circles += "<div class='circle' id=" + i + 
                        " onClick=\'select_seat(" + i +")\'></div>"
        }

        $('.seats').html(circles);
}

function color(data){
        var states = data;
        for(var key in color){
                color[key] = 0;
        }
        for(var i = 0; i < states.length; i++){
                var position = String(states[i].position);
                $("#" + position).css("background", states[i].color);
                $("#" + position).html(
                        '<span class="emoji_location" >'+states[i].emoji+'</span>'
                );
                color[states[i].color]++;
                
        }
        $('.seats').append(statisticShow());
}


function select_seat(position) {
        var data = {
                position: position,
                room_id: {{ room_id }},
        };
        fetch(`${window.origin}/13thweek/select_seat`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(data),
                cache: "no-cache",
                headers: new Headers({
                        "content-type": "application/json"
                })
        }).then(function (response) {
                if (response.status !== 200) {
                        console.log(`Looks like there was a problem. Status code: ${response.status}`);
                        return;
                }
                response.json().then(function (data) {
                        draw();
                        color(data);
                });
        })
        .catch(function (error) {
                console.log("Fetch error: " + error);
        });
}

        setInterval(function(){
                fetch(`${window.origin}//13thweek/get_states/{{ room_id }}`, {
                        method: "POST",
                        credentials: "include",
                        cache: "no-cache",
                }).then(function (response) {
                        if (response.status !== 200) {
                                console.log(`Looks like there was a problem. Status code: ${response.status}`);
                                return;
                        }
                        response.json().then(function (data) {
                                draw();
                                color(data);
                        });
                })
                .catch(function (error) {
                        console.log("Fetch error: " + error);
                });}, 1000);

</script>
{% endblock %}