<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=deivce-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  <script src="https://kit.fontawesome.com/16fd5c8b77.js" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/github.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/languages/go.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
    <!-- jsTree -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
  <script>hljs.highlightAll(); hljs.initLineNumbersOnLoad();</script>
  <title>Codee</title>
</head>
<header>
  <div class="topbar darkbg">
    <div class="logo-wrapper"><img src="{{url_for('static', filename='logo_white.svg')}}" class="small-logo" alt=""
        srcset=""></div>

    <div class="logout2 white">
      <span>{{current_user.username}} 님,</span>
      <a href="{{ url_for('auth.logout') }}">logout</a>
    </div>
  </div>
</header>

<body>
  <div class="container center-col">
    <div class="full margin20">
      <span>{{ owner }} / {{ repo }}</span>
      <button type="button" class="button right" onclick="copyToClip(document.getElementById('code'))">export</button>
    </div>

    </h3>
    <div class="center-row full">
      <div class="sidebar col">
        <div class="filelist border-box scroll">
          <div id="tree"></div>
        </div>
        <div class="full">
          <button class="button modalButton full" data-popup="popupOne">create codee</button>
        </div>
        <section class="modal modalWindow" id="popupOne">
          <section class="modalWrapper">
            <div>
              <form>
                <div>
                  <div class="col-25">
                    <label for="name">codee name</label>
                  </div>
                  <div class="col-60">
                    <input id="codee_name" type="text" name="codee_name">
                  </div>
                  <div class="col-15">
                    <span>.cd</span>
                  </div>
                </div>
                <div>
                  <div class="col-25"><label for="codee_path">codee path</label></div>
                  <div class="col-60">
                    <input id='codee_path' type="text" name='codee_path' disabled="true">
                    <div id="drawer1" class="browse-dir scroll">
                      <ul id="dir_tree" aria-labelledby="tree_label">
                        <li id="modal_tree_1" class="dir"></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-15"> <button class='browse-btn' type='button'
                      onclick="open_dir('drawer1')">browse</button>
                  </div>

                </div>
                <div>
                  <div class="col-25"><label for="ref_filename">reference file name</label></div>
                  <div class="col-60">
                    <input id='ref_path' name='ref_path' type="text" disabled="true">
                    <div id="drawer2" class="browse-dir scroll">
                      <ul id="dir_tree" aria-labelledby="tree_label">
                        <li id="modal_tree_2" class="dir"></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-15"><button class='browse-btn' type='button'
                      onclick="open_dir('drawer2')">browse</button>
                  </div>
                </div>
                <div class="create-btn"><button onclick="createCodee()">Create</button>
                </div>
              </form>

            </div>


          </section>
          <a class="closeBtn">×</a>
        </section>
        <section class="modal overlay">
        </section>
      </div>
      {% if content == "" %}
      <div class="box" id='export'>
        <div class="center-col">
          <img src="{{url_for('static', filename='6579900.jpg')}}" class="image" alt="" srcset="">
          <a class="image-src" href="http://www.freepik.com">Designed by Freepik</a>
        </div>
      </div>

      {% else %}
      <div class="box" id='export'>
        <div class="border-box">
          <div class="filename-bar" id="filename">{{ content }}</div>
          <pre id="pre" class="">
            <code id="code" >{{file_content}}</code>
          </pre>
        </div>
      </div>
      {% endif %}

    </div>


  </div>

</body>
<script>
  const owner = "{{ owner }}";
  const repo = "{{ repo }}";
  const ref = "{{ ref }}";
  let jsonData = null;

  $('#tree').on('select_node.jstree', function (e, data) {
    let node = data.node;
    console.log(node)
    if (node.type === 'file') {
      console.log(node['a_attr']['path']);
      window.location.href = `/${owner}/${repo}/${ref}/${node['a_attr']['path']}`;
    }
  });


  $(function () {
    jsonData = JSON.parse({{ tree|tojson }});
    console.log(jsonData);
    const openedFile = "{{ content }}";
    const jstreeSetting = {
      plugins : [ "wholerow" ],
      core: {
        themes: {
          responsive: false,
        },
      },
      types: {
        default: {
          icon: "fa fa-folder",
        },
        file: {
          icon: "fa fa-file",
        },
      },
      plugins: ["types"],
      core: {
        data: jsonData
      }
    }; 
    $("#tree").jstree(jstreeSetting);
    $("#modal_tree_1").jstree(jstreeSetting);
    $("#modal_tree_2").jstree(jstreeSetting);

    $('#modal_tree_1').on('changed.jstree', function (e, data) {
    var selectedNode = data.instance.get_node(data.selected[0]);
    if (selectedNode.original.type == "dir"){
      $('#codee_path').val('');
      $('#codee_path').val(selectedNode.id);
    }
    });

    $('#modal_tree_2').on('changed.jstree', function (e, data) {
    var selectedNode = data.instance.get_node(data.selected[0]);
    if (selectedNode.original.type == "file"){
      $('#ref_path').val('');
      $('#ref_path').val(selectedNode.id);
    }
    });

    $('#tree').on('ready.jstree', function(e, data) {
      const parents = $('#tree').jstree(true).get_node(openedFile).parents;
      for (let i = parents.length - 2; i >= 0; i--) {
        $("#tree").jstree('open_node', parents[i], 0);
      } 
    });



  });

  settings = {
    objModalPopupBtn: ".modalButton",
    objModalCloseBtn: ".overlay, .closeBtn",
    objModalDataAttr: "data-popup"
  }
  $(settings.objModalPopupBtn).bind("click", function () {
    if ($(this).attr(settings.objModalDataAttr)) {
      var strDataPopupName = $(this).attr(settings.objModalDataAttr);
      $(".overlay, #" + strDataPopupName).fadeIn();
    }
  });

  $(settings.objModalCloseBtn).bind("click", function () {
    $(".modal").fadeOut();
  });

  </script>
<script src="{{ url_for('static', filename = 'script/import/html-to-rtf-browser.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'script/index.js') }}"></script>
<script src="{{ url_for('static', filename = 'script/createcodee.js') }}"></script>

</html>