{% extends "main/base.html" %}
{% block title %}Index{% endblock %}
{% block username %}{{ current_user.username }}{% endblock %}
{% block owner %}{{ g.owner }}{% endblock %}
{% block repo %}{{ g.repo }}{% endblock %}
{% block content %}
<div class="center-col">
    <img src="{{url_for('static', filename='6579900.jpg')}}" class="image" alt="" srcset="">
    <a class="image-src" href="http://www.freepik.com">Designed by Freepik</a>
</div>
{% endblock %}
{% block script %}
<script>
    let refData = null;
    let treeData = null;
    const owner = "{{ g.owner }}";
    const repo = "{{ g.repo }}";
    const ref = "{{ ref }}";
    const openFile = null;
    treeData = JSON.parse({{ tree| tojson }});
</script>
<script src="{{ url_for('static', filename = 'script/drawtree.js') }}"></script>
<script src="{{ url_for('static', filename = 'script/createcodee.js') }}"></script>
{% endblock %}